*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gold: #F5BD02;
    --winning-blocks: #2d414b;
}

body {
    color: var(--gold);
    font-family: "Merriweather", serif;
}
h1 {
    font-size: 55px;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(BGttt3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gold);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}
.box:nth-child(3n) {
    border-right: none;
}
.box:nth-child(6) ~ .box {
    border-bottom: none;
} 

.score-card {
    margin-top: 25px;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--gold);
    color: #16224A;
    border-color: var(--gold);
    font-size: 20px;
    transition: 200ms transform;
    font-weight: 600;
    margin-top: 20px;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
